:root {
    --charcoal: #424651;
    --snow: #fffbfa;
    --spring_green: #21FA90;
    --office_green: #157F1F;
    --lion: #AD8A64;
  }

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--snow);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle {
    font-size: 1.5rem;
    color: var(--snow);
    margin-top: 1rem;
    opacity: 0.8;
}

.description {
    font-size: 1rem;
    color: var(--snow);
    margin-top: 0.8rem;
    visibility: hidden;
}

@media screen and (max-width: 768px) {
    .homePage {
        margin-top: 10rem;
    }

    .title {
        font-size: 4rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
    
    .description {
        visibility: visible;
    }
}