.page {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.project h2 {
    margin: 10px 0;
}

.project p {
    margin: 10px 0;
    opacity: 0;
}

.project:hover img {
    transition: transform 1s ease;
    transform: translateY(-5px);
}

.project:hover p {
    transition: opacity 1s ease;
    opacity: 1;
    color: var(--snow);
}

@media screen and (max-width: 768px) {
    .page {
        padding: 2rem 2rem 0rem 1rem;
    }

    .content {
        grid-template-columns: repeat(2, 50%);
        width: 100%;
    }

    .project {
        padding: 0rem;
    }

    .project p {
        margin: 0px 0;
        opacity: 1;
    }

    .project img {
        width: 50%;
    }
    
}